*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    width: 100%;
}

.text{
    color: white;
    text-align: center;
    font-size: 50px;
}

.text1{
    color: white;
    text-align: center;
    font-size: 50px;
}

.text2{
    color: white;
    text-align: center;
    font-size: 50px;
}

.text3{
    color: white;
    text-align: center;
    font-size: 50px;
}

.ig{
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid rgb(253, 154, 224);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-shadow: 0 0 3px #ff36d3, 0 0 1px #fc048c;
}

.ig:hover{
    background-color: rgb(239, 169, 253);
    transition: 1s;
}

.weplay{
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid rgb(167, 233, 253);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-shadow: 0 0 3px #cce7fd, 0 0 1px #cdffff;
}

.weplay:hover{
    background-color: rgb(120, 183, 255);
    transition: 1s;
}